.organization-list{
    background-color: #161b22;
    display:block;
    justify-content: center;
    align-items: center;
    border: 1px solid #8b949e;
    border-radius: 6px;
    height: 100px;
    width: 80%;
}

.organization-list .org-name{
    color: #c9d1d9;
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 600;

}

.organization-list .org-details{
    color: #8b949e;
    font-size: 14px;
    box-sizing: border-box;
}

.issue-details{
    display: flex;
    flex-direction: row;
}

.open-issue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b949e;
    gap: 5px;
}

.close-issue{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#8b949e;
}
.contributors{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b949e;
}