/* Navbar */

.navbar{
    background-color: #161b22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #c9d1d9;
}

.navbar .logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .button{
    background-color: #c9d1d9;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding: 2px;
    margin: 20px;
    margin-left: 20px;
}

.navbar .company-name{
    font-size: 20px;
    font-weight: 600;
    color: #c9d1d9;
}

.navbar .company-name:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.toggle{
    font-size: 20px;
    margin: 20px;
    margin-right: 30px;
}

.toggle:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.toggle.active{
    background-color: #21262d;
}






/* Profile */

.profile{
    border: 1px solid #30363d;
    background-color: #161b22;
}
.profile .profile-section{
    display: flex;
    align-items: center;
    margin:20px;
    margin-left: 35px;
}

.profile .picture{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.profile .details{
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.profile .user-name{
    font-size: 27px;
    font-weight: 600;
    color: #c9d1d9;
    padding: 5px;
    
}

.profile .user-email{
    font-size: 15px;
    font-weight: 600;
    color: #8b949e;
    padding: 5px;
}